# Postgres (see docker-compose.yml "postgres" service)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=phastos
POSTGRES_PASSWORD=phastos
POSTGRES_DB=phastos_reservation

# apps
API_PORT=3000
NOTIFICATION_WORKER_PORT=3001
EVENT_CONSUMER_PORT=3002

NODE_ENV=development
